<div id="<%= dom_id formulario %>">
  <p>
    <strong>Template:</strong>
    <%= formulario.template_id %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= formulario.turma_id %>
  </p>

  <p>
    <strong>Coordenador:</strong>
    <%= formulario.coordenador_id %>
  </p>

  <p>
    <strong>Data envio:</strong>
    <%= formulario.data_envio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= formulario.data_fim %>
  </p>

</div>
