<div id="<%= dom_id perguntum %>">
  <p>
    <strong>Template:</strong>
    <%= perguntum.template_id %>
  </p>

  <p>
    <strong>Titulo:</strong>
    <%= perguntum.titulo %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= perguntum.tipo %>
  </p>

  <p>
    <strong>Ordem:</strong>
    <%= perguntum.ordem %>
  </p>

</div>
