<p style="color: green"><%= notice %></p>

<%= render @opcoes_perguntum %>

<div>
  <%= link_to "Edit this opcoes perguntum", edit_opcoes_perguntum_path(@opcoes_perguntum) %> |
  <%= link_to "Back to opcoes pergunta", opcoes_pergunta_path %>

  <%= button_to "Destroy this opcoes perguntum", @opcoes_perguntum, method: :delete %>
</div>
