<div id="<%= dom_id respostum %>">
  <p>
    <strong>Formulario:</strong>
    <%= respostum.formulario_id %>
  </p>

  <p>
    <strong>Pergunta:</strong>
    <%= respostum.pergunta_id %>
  </p>

  <p>
    <strong>Opcao:</strong>
    <%= respostum.opcao_id %>
  </p>

  <p>
    <strong>Resposta texto:</strong>
    <%= respostum.resposta_texto %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= respostum.turma_id %>
  </p>

  <p>
    <strong>Uuid anonimo:</strong>
    <%= respostum.uuid_anonimo %>
  </p>

</div>
